# (실습) 데이터 다루기

**준비사항**

Pandas 라이브러리를 pd라는 이름으로 불러온다

In [1]:
import pandas as pd

**데이터 저장소 디렉토리**

코드에 사용되는 데이터 저장소의 기본 디렉토리를 지정한다.

In [2]:
data_url = 'https://raw.githubusercontent.com/codingalzi/DataSci/refs/heads/master/data/'

## 데이터 준비

영산강에 설치된 승천보에서 측정한 두 개의 데이터셋이다.

- `chl_a`: 녹조 발생의 주요 요인인 클로로필-A의 수치 100개
- `flow`: 보에서 방출되는 시간당 방류량 수치 100개

두 데이터셋의 인덱스는 수질(water quality)을 가리키며,
높은 숫자일 수록 수질은 나쁘다.

In [11]:
sc_weir_df = pd.read_csv(data_url+'sc_weir.csv')

sc_weir_df

    Chl-a  Discharge
0      51         25
1      51         25
2      53         24
3      53         24
4      54         22
..    ...        ...
95    122          9
96    122          9
97    124         49
98    125          9
99    124          9

[100 rows x 2 columns]

In [5]:
sc_weir_df.shape

(100, 2)

In [6]:
sc_weir_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Chl-a      100 non-null    int64
 1   Discharge  100 non-null    int64
dtypes: int64(2)
memory usage: 1.7 KB

In [7]:
sc_weir_df.describe()

           Chl-a  Discharge
count  100.00000  100.00000
mean    93.86000   14.93000
std     22.62564    6.37903
min     51.00000    9.00000
25%     74.50000   11.00000
50%     98.00000   13.00000
75%    114.50000   16.00000
max    125.00000   52.00000

**문제**

각각의 데이터셋 크기가 100임을 확인하라.

힌트: `len()` 함수

**문제**

가장 높은 클로로필-A의 수치는 얼마인가?

**문제**

가장 낮은 시간당 방류량 수치는 얼마인가?